<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BMI Index Predictor</title>
</head>
<body>
    <div id="page-header">
        <h2>BMI Index Predictor using Logistic Regression from sklearn.</h2>
    </div>
    <div id="container">
        <div id="padding"></div>
        <form method="POST">
            <label>
                Height in centimeters: 
                <input type="number" name="height" />
            </label>
            <label>
                Weight in kilograms:
                <input type="number" name="weight" />
            </label>
            <label>
                Gender:
                Male
                <input type="radio" name="gender" value="Male"/>
                Female
                <input type="radio" name="gender" value="Female" />
            </label>
            <input class="btn" type="submit" value="Submit" />
        </form>
        <div id="output-div">
            <h3>BMI Index</h3>
            <h3>{{ data.index }}</h3>
        </div>
        <div id="padding"></div>
    </div>
</body>
</html>