* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h2,h3 {
    text-align: center;
}

form {
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

form * {
    margin: 5px;
}

.btn {
    align-self: center;
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#page-header {
    height: 100px;
    background-color: #aaa;
}

#container{
    display: flex;
    flex-direction: row;
}
#output-div {
    width: 150px;
    border: 2px solid #000000;
}
#padding {
    flex: 1;
}
